.footer {
  background: #eaeaea;
  margin-bottom: 1em;

  .footer__logo {
    padding: 1em;
    img {
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }
  .footer__info {
    padding: 1em 0 0 1em;
    .widget-title {
      font-size: 1.3em;
      font-weight: 600;
      line-height: 1.05;
      letter-spacing: .1em;
      text-transform: uppercase;
      padding-top: 2em;
    }
    .is-divider {
      height: 3px;
      display: block;
      background-color: rgba(0,0,0,.1);
      margin: 1.2em 0 1.2em;
      width: 100%;
      max-width: 15%;
    }
    p {
      margin-bottom: 1.4em;
      font-size: 1.1em;
    }
    a {
      color: #0266c3;
      text-decoration: none
    }
  }
}
// Small devices (landscape phones, > 740px)
@media only screen and (max-width: 47.9375em) {
  .footer {
    .footer__info {
      .widget-title {
        text-align: justify;
        font-size: 1em;
        font-weight: 600;
        line-height: 1.05;
        letter-spacing: .05em;
      }
    }
    p {
      margin-bottom: 1.2em;
      font-size: 0.8em;
    }
  }
}

// Medium devices (tablets, > 992px)
@media only screen and (max-width: 61.9375em){
  .footer {
    .footer__logo {
      img {
        max-width: 95%;
      }
    }
    .footer__info {
      .widget-title {
        text-align: justify;
        font-size: 1.1em;
        font-weight: 600;
        line-height: 1.05;
        letter-spacing: .05em;
      }
    }
    p {
      margin-bottom: 0.9em;
      font-size: 1em;
    }
  }
}

