  <div id="body"></div>
<div class="p-grid p-px-3 footer">
  <div class="p-col-12 p-md-5 p-lg-3 footer__logo">
    <img src="../../../../assets/logo.png" alt="" >
  </div>

  <div class="p-col-12 p-md-7 p-lg-9 footer__info">
    <span class="widget-title">Hệ thống giáo dục Alpha School</span>
    <div class="is-divider"></div>
    <div class="textwidget">
      <p>Địa chỉ:
        <a href="https://goo.gl/maps/ir7MoCsXBLijNwaJ6">Lô A26, Khu đô thị Geleximco, Đường Lê Trọng Tấn, Nam An Khánh, Hoài Đức, Hà Nội</a>
      </p>
      <p>Điện thoại: 0913 095 855 – 02435558595 – 02437712162 – Nhánh 1</p>
      <p>Email: lienhe@alphaschool.edu.vn</p>
      <p>Website:
        <a href="https://alphaschool.edu.vn/">https://www.alphaschool.edu.vn</a>
      </p>
    </div>
  </div>
</div>
