.form-login {
  .title {
    background: #f8cbad;
    padding-left: 1.4em;
    min-height: 35px;
  }
  .main {
    margin: 1em 0;

    p {
      font-size: 1.4em;
      font-weight: 600;
      padding: 1em 0;
    }

    span {
      font-size: 1.1em;
      font-weight: 500;
    }

    a {
      text-decoration: none;
      color: #0070c3;
      margin: 1em 0
    }
  }
}
