.payment {
  padding: 1em;
  .title {
    background: #f7941d;
    border-radius: 5px;
  }

  .info {
    background: #f2f2f2;
    border: 1px solid #bfbfbf;
    margin-top: 1.5em;
  }

  .info__title {
    font-size: 1.4em;
    font-weight: 600;
  }
  .info__detail {
    padding-left: 5em;

    p {
      font-size: 1em;

      span {
        font-size: 1.2em;
        font-weight: 500;
        padding-left: 1em;
      }
    }

    ul > li > ul {
      list-style: none;
    }
  }
  .info__payment {
    .monney {
      color: #004181;
    }
  }
}

// Small devices (landscape phones, > 740px)
@media only screen and (max-width: 47.9375em) {
  .payment {
    .info + .info {
      margin-bottom: 1.5em;
    }
    .info__detail {
      padding: 0;
    }
  }
}

// Medium devices (tablets, > 992px)
@media only screen and (max-width: 61.9375em){
  .payment {
    .info + .info {
      margin-bottom: 1.5em;
    }
    .info__detail {
      padding: 0;
    }
  }
}
