section {
  height: 100%
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.page-body {
  padding: 1em 5em 2em;
}

// Small devices (landscape phones, > 740px)
@media only screen and (max-width: 47.9375em) {
  .page-body {
    padding: 0;
  }
}

// Medium devices (tablets, > 992px)
@media only screen and (max-width: 61.9375em){
  .page-body {
    padding: 0;
  }
}
